.df-market-price{ 
    font-weight: 500;
    color: #aaa;
    text-decoration: line-through;
    margin-right: 10px;
    margin-top: 4px;
  }
  .df-sale-price{
    font-weight: 700;
    color: #ff5700;
    font-size: 24px;
  }
  .df-discount-rate-box{
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #ff5700;
    text-align: center;
    line-height: 13px;
         }
    .df-discount-rate{
      display: block;
      font-size: 16px;
      font-weight: 500;
      margin-top: 10px;
    }
    .df-discount-text{
      font-size: 8px;
    }
    .df-price-info{
      display:flex;
      justify-content:space-between;
    }
    .df-product-item{
      display:flex;
      flex-direction:column;
      padding:3px;
    }
    .df-product-info-title-link{
      color:#636363;
      text-decoration: none;
     background-color: transparent;
    }
    .df-product-info-title-link:hover{
      color:#636363;
      text-decoration: underline;
  
    }
    .df-picture{
      /* width: 100%;
      height: auto;
      transition: all .8s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; */
    }