.idea
*.log
node_modules
yarn.lock
# Typically you don't want to have the `apify_storage` directory
# in the Git repo, but in this boilerplate we keep the `INPUT.json`
# file in Git for documentation purposes.
page-data
page-collection
page-meta
page-build
page-image
page-image-resized
page-image-blurred
page-list-pages
page-tree
page-leave
page-prerendered
.env


gol74b0fe0d7246.json

turkmenistan-market-74b0fe0d7246.json
package.json

turkmenistan-market-firebase-adminsdk-d0s1d-7289a84f0e.json
# Local Netlify folder
.netlify
*.png


mock-data/local-storage/*.json
mock-data/back-end/*.json