.idea
*.log
node_modules
yarn.lock
# Typically you don't want to have the `apify_storage` directory
# in the Git repo, but in this boilerplate we keep the `INPUT.json`
# file in Git for documentation purposes.
page-data/
page-collection/
page-meta/
page-build/
page-image/
page-image-resized/
page-image-blurred/
page-tree/
.env